.body {
    position: relative;
    width: 1440px;
    height: 1680px;

    background: #FFFFFF;
}

.header {
    position: absolute;
    width: 1440px;
    height: 56px;
    left: 0px;
    top: 0px;
    background: #3F72E9;
}

#logo {
    position: absolute;
    width: 88.8px;
    height: 32px;
    left: 320px;
    top: 12px;
}

.group {
    position: absolute;
    left: 0.62%;
    right: 0.72%;
    top: 21.59%;
    bottom: 5.55%;
}

.vector {
    position: absolute;
    width: 87.61px;
    height: 23.31px;
    left: 0.55px;
    top: 6.91px;

    /* background: #FFFFFF; */
    /* border: 0.00363783px solid #FFFFFF;     */
}

.search {
    position: absolute;
    width: 507px;
    height: 40px;
    left: 425px;
    top: 8px;
}

#srchRect {
    position: absolute;
    width: 507px;
    height: 40px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
}

#srhTxt {
    position: absolute;
    width: 507px;
    height: 40px;
    /* left: 8px;
    top: 13px; */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    border: none;

    color: rgba(0, 0, 0, 0.5);
}

#seller {
    position: absolute;
    width: 117px;
    height: 20px;
    left: 948px;
    top: 18px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    color: #FFFFFF;
}

#cart {
    position: absolute;
    width: 31px;
    height: 20px;
    left: 1089px;
    top: 18px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    color: #FFFFFF;
}

.listItem {
    /* List Item */


    box-sizing: border-box;

    position: relative;
    width: 1440px;
    height: 298px;
    left: 0px;
    top: 56px;

    border-bottom: 1px solid #F0F0F1;
}

.iphoneImg {
    position: relative;
    /* width: 204px;
    height: 220px; */
    left: 32px;
    top: 24px;

    /* background: url(image.png);     */
}

.prodInfo {
    /* Product Info */
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 303px;
    height: 169px;
    left: 260px;
    top: 40px;
}

.itmName {
    /* Item Name */
    width: max-content;
    height: 23px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.checkbox {
    top: 30px;
    left: 32px;
    position: relative;
    font-family: 'Roboto';
    font-size: 12px;
    font-style: normal;

}

.reviews {
    /* Reviews & Ratings */

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;

    width: 460px;
    height: 18px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.rating {
    /* Rating Pill */


    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 2px 2px 4px;
    /* gap: 2px;

width: 40px;
height: 18px; */

    background: #508C47;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.ratingNo {
    /* 4.7 */


    width: 18px;
    height: 12px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    /* identical to box height, or 12px */


    color: #FFFFFF;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.starIcon {
    /* Star icon */


    width: 14px;
    height: 14px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;

}

.grade {
    /* grade */


    position: relative;
    left: 63.5%;
    right: 8.5%;
    top: 22.78%;
    bottom: 18.89%;

    background: #FFFFFF;
}

.boundingBox {
    /* Bounding box */


    position: absolute;
    width: 14px;
    height: 14px;
    left: 24px;
    top: 2px;

    background: #D9D9D9;
}

.ratingCount {
    /* Rating count */

    position: absolute;
    left: 50px;
    width: 216px;
    height: 16px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.features {
    /* Device features */


    width: 303px;
    height: 96px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.pricingInfo {
    /* Pricing Info */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    position: absolute;
    width: 175px;
    height: 100px;
    left: 991px;
    top: 40px;
}

#mrp {
    font-family: 'Roboto';
    font-style: normal;
    line-height: 28px;

    color: grey;
}

#salePrice {
    /* Sale Price */


    width: 116px;
    height: 28px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#delInfo {
    /* Delivery Info */


    width: 69px;
    height: 14px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

#excgInfo {
    /* Exchange Info */


    width: 180px;
    height: 14px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */


    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}

#offers {
    /* Offers Info */


    width: 64px;
    height: 14px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */


    color: #508C47;


    /* Inside auto layout */

    flex: none;
    order: 4;
    flex-grow: 0;
}

#discount {
    /* Discount */


    width: 35px;
    height: 14px;

    font-family: 'Roboto';
    font-style: normal;
    /* font-weight: 600; */
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */


    color: #508C47;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.footer {
    /* Footer */


    position: relative;
    width: 1440px;
    height: 284px;
    left: 0px;
    top: 200px;
    display: table-cell;
    background: #1A2335;
}

.footerBtm {
    position: relative;
    width: 1440px;
    height: max-content;
    left: 0px;
    top: 200px;
    display: flex;
    background: #1A2335;  
    border-top: 1px solid #454d5e;
    padding: 25px;
}

.ftr_itm {
    width: max-content;
    color: #878787;
    height: 14px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;      
}

.ftrTitle {
    width: max-content;
    color: #878787;
    height: 14px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;    
}

/* .hline {
    margin: 0px;
    border-top: 1px solid #454d5e;
} */

.sec1 {
    /* Section 1 */
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    position: relative;
    width: 120px;
    height: 188px;
    left: 65px;
    top: 40px;
    margin-right: 0%;
    margin-block: 0px;
}

.frame1 {
    /* ABOUT */
    /* Frame 1 */
    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 120px;
    height: 158px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.layout {
    width: 150px;
    height: max-content;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.layoutBtm {
    width: 150px;
    height: max-content;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 5px;
}

/* .sec2 { */
    /* Section 2 */


    /* Auto layout */

    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 123px;
    height: 140px;
    left: 257px;
    top: 40px; */
/* } */

/* .frame2 { */
    /* Frame 2 */


    /* Auto layout */

    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 123px;
    height: 110px; */


    /* Inside auto layout */

    /* flex: none;
    order: 1;
    flex-grow: 0;
} */

/* .sec3 { */
    /* Section 3 */


    /* Auto layout */

    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 89px;
    height: 164px;
    left: 449px;
    top: 40px;
} */

/* .frame3 { */
    /* Frame 3 */


    /* Auto layout */

    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 89px;
    height: 134px; */


    /* Inside auto layout */

    /* flex: none;
    order: 1;
    flex-grow: 0;
} */

/* .sec4 { */
    /* Section 4 */


    /* Auto layout */

    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 53px;
    height: 92px;
    left: 641px;
    top: 40px;
} */

/* .frame4 { */
    /* Frame 4*/


    /* Auto layout */

    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 53px;
    height: 62px; */


    /* Inside auto layout */

    /* flex: none;
    order: 1;
    flex-grow: 0;
} */

/* .sec5 { */
    /* Section 5 */


    /* Auto layout */

    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 235px;
    height: 138px;
    left: 859px;
    top: 40px;
} */

/* .frame5 { */
    /* Frame 5 */


    /* Auto layout */

    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 235px;
    height: 108px; */


    /* Inside auto layout */

    /* flex: none;
    order: 1;
    flex-grow: 0;
} */

.sec6 {
    /* Section 6 */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 234px;
    height: 174px;
    left: 1128px;
    top: 40px;
}

.frame6 {
    /* Frame 1 */


    /* Auto layout */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 234px;
    height: 144px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.divider {
    /* Divider */


    position: absolute;
    width: 1px;
    height: 136px;
    left: 832px;
    top: 40px;

    background: #474D5D;
}