/* Header */
.header {
    position: relative;
    width: 100%;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: #3F72E9;
}

/* flipkart logo */
.vector {
    width: 88.8px;
    height: auto;
}

/* search bar */
.srchRect {
    width: 507px;
    height: 40px;
    margin-left: 16px;
    margin-right: 16px;
    text-indent: 8px;
    border: none;
    color: rgba(0, 0, 0, 0.5);
    background: #FFFFFF;
}

/* become a seller option  */
.seller {
    margin-right: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

/* view cart on header  */
.cart {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.body {
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    background: #FFFFFF;
    margin: 0px;
}

/* List Item */
.listItem {
    box-sizing: border-box;
    position: relative;
    height: 298px;
    border-bottom: 1px solid #F0F0F1;
    margin-top: 40px;
}

/* div for image and product info used for alignment*/
.imageProdInfo {
    display: flex;
    flex-direction: row;
}

/* sub div for list item to maintain display  */
.subProd {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* iphone image  */
.iphoneImg {
    position: relative;
    margin-left: 32px;
}

/* Product Info */
.prodInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    margin-left: 32px;
}

/* Item Name */
.itmName {
    height: 23px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-decoration: none;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.itmName:hover {
    color: #2874f0;
}

/* Rating Pill */
.rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 2px 2px 4px;
    background: #508C47;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* rating number  */
.ratingNo {
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Star icon */
.starIcon {
    width: 14px;
    height: 14px;
    flex: none;
    order: 1;
    flex-grow: 0;

}

/* Reviews & Ratings */
.reviews {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;
    height: 18px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* Rating count */
.ratingCount {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* product features  */
.features {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    padding-inline-start: 16px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

/* Pricing Info */
.pricingInfo {
    display: flex;
    flex-direction: column;
}

/* original price  */
.mrp {
    line-height: 14px;
    color: grey;
}

/* Sale Price */
.salePrice {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* Delivery Info */
.delInfo {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    flex: none;
    order: 2;
    flex-grow: 0;
}

/* Exchange Info */
.excgInfo {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
    flex: none;
    order: 3;
    flex-grow: 0;
}

/* Offers Info */
.offers {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #508C47;
    flex: none;
    order: 4;
    flex-grow: 0;
}

/* Discount */
.discount {
    font-size: 12px;
    line-height: 14px;
    color: #508C47;
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* add to cart and compare checkboxes */
.checkbox {
    margin-top: 5px;
    margin-left: 32px;
    position: relative;
    font-size: 12px;
    width: max-content;
}

/* Main footer div  */
.mainFtr {
    background: #1A2335;
}

/* Footer */
.footer {
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    margin-left: 65px;
    margin-right: 35px;
    padding-top: 40px;
    position: relative;
    display: flex;
    flex-direction: row;
    background: #1A2335;
}

/* footer headers  */
.ftrTitle {
    letter-spacing: 0;
    line-height: 1.4;
    color: #878787;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 9px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* footer sections  */
.sec1 {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    width: 100%;
}

/* last two footer sections  */
.sec2 {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    width: 100%;
    line-height: 1.4;
    font-size: 12px;
    letter-spacing: 0;
    color: #fff;
    padding: 0 25px;
    height: 100%;
}

/* sec1 item layout */
.layout {
    font-weight: 500;
    font-size: 12px;
    line-height: 2;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* sec2 item layout  */
.layoutAddr {
    text-align: left;
    letter-spacing: 0;
    color: #fff;
    font-size: 12px;
}

.setColor {
    color: #3D72E8 !important;
}

/* bottom footer columns  */
.footerBtm {
    position: relative;
    height: max-content;
    left: 0px;
    display: flex;
    background: #1A2335;
    border-top: 1px solid #454d5e;
    padding: 25px;
    margin-top: 40px;
    align-items: center;
    justify-content: space-evenly;

}

/* bottom footer items */
.ftr_itm {
    color: #878787;
    height: 14px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

/* bottom footer item layout */
.layoutBtm {
    height: max-content;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 8px;
}

/* Compare div  */
.compareDiv {
    right: 8px;
    bottom: 8px;
    position: fixed;
    color: #3F72E9;
    padding: 15px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    border: 1px solid #f0f0f0;
}

.imageDiv {
    display: flex;
    flex-direction: row;
}

.imageComboDiv {
    display: flex;
    flex-direction: row;
}

.cancel_img {
    font-size: 222px;
    color: #d00;
    font-weight: bold;
    font-family: helvetica, arial;
    line-height: 1;
}

.close {
    position: relative;
    width: 30px;
    height: 30px;
    opacity: 0.3;
    display: block;
    background-color: transparent;
}

.close:hover {
    opacity: 1;
}

.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.childDiv {
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding: 0 24px;
    flex-direction: column;
}

.btnDiv {
    display: flex;
    flex-direction: row;
    padding: 10px;
    right: auto;
    position: relative;
    float: right;
}

.cmpButton {
    background-color: #2874f0;
    transition: background-color .2s ease-in;
    border: none;
    padding: 12px 14px;
    float: right;
}

.remButton {
    float: right;
    color: #212121;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

.btmName {
    font-size: 12px;
    margin-top: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    color: #212121;
}

.btmImg {
    height: 125px;
    opacity: 1;
}